<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Робітники на об'єктах</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="res/favicon.ico">
</head>
<body ng-app = "coursework">
<div id="menuSidenav" class="sidenav">
    <div class="navTitle">
        <img class="titleLogo" src="res/logo.svg">
        <div class="titleText">Ziggy Ent.</div>
    </div>
    <div class="navBody">
        <a href="../">Титульна сторінка</a>
    </div>
    <div class="navSeparator">Таблиці</div>
    <div class="navBody">

        <a href="brigades.html">Бригади</a>
        <a href="building_management.html">Буд. керування</a>
        <a href="areas.html">Ділянки</a>
        <a href="report.html">Звіт</a>
        <a href="engineering_stuff.html"> Інженерний персонал</a>
        <a href="estimate.html">Кошторис</a>
        <a href="material.html">Матеріал</a>
        <a href="subordinate_personnel.html">Підпорядкований персонал</a>
        <a href="objects.html">Об'єкти</a>
        <a href="employee.html">Робітники</a>
        <a href="working_schedule.html">Робочий графік</a>
        <a href="machinery.html">Техніка</a>
        <a href="construction_technology.html">Технології будівництва</a>
        <a href="type_of_object.html">Тип об'єкту</a>
        <a href="object_characteristics.html">Характеристика об'єктів</a>
        <a href="characteristics.html">Характеристики</a>

    </div>
    <div class="navSeparator">Запити
    <a href="query1.html">Запит 1</a>
    <a href="query2.html">Запит 2</a>
    <a href="query3.html">Запит 3</a>
    <a href="query4.html">Запит 4</a>
    <a href="query5.html">Запит 5</a>
    <div class="navDisabled">Запит 6</div>
    <a href="query7.html">Запит 7</a>
    <a href="query8.html">Запит 8</a>
    <a href="query9.html">Запит 9</a>
    </div>
</div>

<div id="main" ng-controller = "AppCtrl as ctrl">
    <div class="container-fluid">
        <div class="panel-heading"> Запит 6: Робітники на об'єктах </div>
        <div class="queryOption">
            Буд.керування:<br>
            <select id="Object" class="queryInput" onchange="updateOutside()"></select>
        </div>
        <div class="datagrid">
            <table >
                <thead>
                <tr>
                    <!--<th width="40px">ID</th>-->
                    <th><a href="#" ng-click="ctrl.changeSort('name')">Ім'я</a>
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></th>
                    <th><a href="#" ng-click="ctrl.changeSort('position')">Спеціальність</a>
                        <span ng-show="sortType == 'position' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'position' && sortReverse" class="fa fa-caret-up"></span></th>
                    <th><a href="#" ng-click="ctrl.changeSort('brigade.name')">Номер бригади</a>
                        <span ng-show="sortType == 'brigade.name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'brigade.name' && sortReverse" class="fa fa-caret-up"></span></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat = "item in entries | orderBy:sortType:sortReverse">
                    <!--<td>{{item.id}}</td>-->
                    <td>{{item.name}}</td>
                    <td>{{item.position}}</td>
                    <td>{{item.brigade.name}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="js/libs/jquery-3.3.1.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>

<script type="text/javascript" src="js/libs/angular.min.js"></script>
<script type="text/javascript" src="js/query6.js"></script>

</html>