body {
    font: bold 12px Calibri, Helvetica, sans-serif;
    text-align: center;
    background: whitesmoke;
    overflow: auto;
    font-size: 30px;
    color: #5d5a70;
}

.panel-heading {
    margin-bottom: 30px;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Calibri, Helvetica, sans-serif;
    background: #fff;
    border: 1px solid #068d5f;
    margin-bottom: 60px;
    overflow: hidden;
}

.datagrid table thead {
    background: linear-gradient(to right, rgba(32,115,74,1) 0%, rgba(0,164,112,1) 100%);
}

.datagrid table thead th {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    border-left: 1px solid #066e48;
    padding-left: 8px;
    height: 38px;
}

.datagrid table thead th:first-child {
    border-left: none;
}

.datagrid table tbody td {
    color: #0f0f0f;
    border-left: 1px solid #068d5f;
    font-size: 15px;
    font-weight: normal;
    padding-left: 8px;
}

.datagrid table tbody tr {
    height: 38px;
}

.datagrid table tbody tr:nth-child(even) {
    background: #b5efc5;
    color: #0f0f0f;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.checkbox {
    transform:scale(1.9);
    opacity:0.9;
    cursor:pointer;
}

.modal-body {
    font-size: 22px;
}

.row {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.left {
    width: 30%;
    text-align: left;
}

.right {
    width: 70%;
}

input, select {
    width: 100%;
}

button {
    position: relative;
    height: 38px;
}

.modal-footer {
    font-size: 20px;
}

#main {
    margin-left: 230px;
    margin-top: 26px;
}

#menuSidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #368561;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    display: block;
    padding-bottom: 16px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    display: block;
    border-bottom: 1px solid #2c593c;
    height: 36px;
    border-bottom-right-radius: 10px;
}

.sidenav a:hover {
    background-color: #32724f;
}

.navDisabled {
    padding: 5px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    display: block;
    background-color: #659c81;
    height: 36px;
    border-bottom: 1px solid #2c593c;
}

.navTitle {
    padding: 8px 8px 8px 16px;
    font-size: 26px;
    background: linear-gradient(to right, rgba(32,115,74,1) 0%, rgba(0,164,112,1) 100%);
    border-bottom: 3px solid #2b5638;
    height: 70px;
    border-bottom-right-radius: 10px;
}

.titleLogo {
    width: 34px;
}

.titleText {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 8px;
}

.navSeparator {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 22px;
    background: linear-gradient(to right, rgba(32,115,74,1) 0%, rgba(0,164,112,1) 100%);
    border-bottom: 2px solid #2b5638;
    border-bottom-right-radius: 10px;
}

.navBody {
    background-color: #368561;
    border-bottom: 1px solid #42bc8d;
    font-weight: normal;
}

.navBottom {
    padding-top: 12px;
    font-weight: normal;
    text-align: center;
}

tr a, tr a:hover {
    color: whitesmoke;
}

.queryOption {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.button-main {
    width: 90px;
    height: 28px;
    padding: 0;
    margin-top: -5px;
    vertical-align: middle;
    font-size: 16px
}

.queryInput {
    width: 200px;
}